/**
 * css of weight admin
 */

.tariff-row {
  overflow: hidden;
}

.tariff-row > div {
  float: left;
  margin-right: 40px;
}

#weight-tariff-container .form-type-checkbox {
  overflow: hidden;
}

#weight-tariff-container .form-type-checkbox input,
#weight-tariff-container .form-type-checkbox label {
  float: left;
}

#weight-tariff-container .form-type-checkbox input {
  margin-right: 20px;
}

#weight-tariff-container .weight-tariff-item .symbol {
  margin-right: 20px;
}
#weight-tariff-container .weight-tariff-item .amount {
  margin-left: 20px;
}